@model Models.VoitureVM
@{
	ViewData["Title"] = "Detail de voiture";
}
<div class="box0">
	<div class="box-image animatezoom"><img src="~/images/Voitures/@Model.Image" alt="@Model.Image" class="image" /></div>
	<div class="box-text">
		<h1>@Model.Name</h1>
		<p>@Model.Description</p>
		@if (Model.Est_Dispo == true)
		{
			<p style="color:lightgreen; font-weight:bold">Voiture en stock</p>
			
		}
		else
		{
			<p style="color:red">Rupture de Stock</p>
		}
		
	</div>
</div>